<!-- /templates/blog.liquid -->
{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}

<h1 class="page--title">{{ blog.title }}</h1>
{% section 'template--blog-auszeichnungen' %}
